<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/assets/sass/style.css">
</head>
<style>

</style>

<body>
    <div class="container-lg">
        <div class="datatable p-3 mt-3 border">
            <div class="row justify-content-end">
                <div class="col-sm-12 col-md-3 ">
                    <div class="dropdown float-end">
                        <button class="datatable-show btn btn-secondary dropdown-toggle" type="button">
                            Trạng thái
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item" href="#">Khách hàng cũ</a></li>
                            <li><a class="dropdown-item" href="#">Khách hàng hẹn lịch <br> nhưng chưa đến</a></li>
                            <li><a class="dropdown-item" href="#">Khách hàng thành công</a></li>
                            <li><a class="dropdown-item" href="#">Khách hàng đã đến cửa</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="input-group mb-3"><span class="input-group-text">
                            <i class="bi bi-search"></i></span>
                        <input class="form-control" type="text" placeholder="Tìm kiếm">
                    </div>
                </div>
            </div>
            <table class="table border">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Nguyễn Văn A</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>Nguyễn Văn B</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th>Nguyễn Văn B</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th>Nguyễn Văn D</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <div class="row flex-row-reverse">
                <div class="col-sm-12 col-md-3">
                    <ul class="pagination justify-content-end">
                        <li><a href="#" class="page-link">Previous</a></li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item "><a href="#" class="page-link">2</a></li>
                        <li class="page-item "><a href="#" class="page-link">3</a></li>
                        <li class="page-item "><a href="#" class="page-link">4</a></li>
                        <li class="page-item next"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>


</html>